@media screen and (max-width: 1160px){
	.logo{
		width: 30%;
	}
	.intro, .testimonial, .pride{
		background-attachment: inherit;
	}
	.col-4{
		width: 50%;
		&:nth-of-type(2n+2){
			padding-right: 0;
		}
		&:nth-of-type(2n+3){
			clear: left;
		}
	}
	.desktop-menu{
		li{
			padding: 0 12px 0 0;
		}
	}
	body{
		padding: 132px 0 0;
	}
	.on-scrolled{
		.desktop-menu{
			padding: 0;
		}
		.main-header{
			padding-bottom: 3px;
		}
	}
	.section-3{
		ul{
			li{
				width: 32%;
				&:nth-of-type(5n+5){
					margin-right: 2%;
				}
				&:nth-of-type(3n+3){
					margin-right: 0;
				}
				&:nth-of-type(n+4){
					margin-top: 2%;
				}
			}
		}
	}
	.col-4{
		width: 50%;
		margin-right: 0;
		padding-right: 5%;
		&:nth-of-type(2n+2){
			padding-right: 0;
		}
		&:nth-of-type(n+3){
			margin-top: 5%;
		}
	}
}//1100
@media screen and (max-width: 950px){
	.desktop-menu{
		display: none;
	}
	.desktop{
		display: none;
	}
	.responsive{
		display: block;
	}
	.logo{
		width: 55%;
	}
	.padding-l-r{
		padding-left: 5%;
		padding-right: 5%;
	}
	.padding-t-b{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	body{
		padding: 110px 0 0;
		&.on-scrolled{
			padding: 73px 0 0;
		}
	}
	.on-scrolled{
		.menu-button{
			top: 9px;
		}
		.responsive-menu{
			top: 30px;
		}
	}
}//950
@media screen and (max-width: 782px){
	.customize-support{
		.header-fixed{
			top: 46px;
		}
	}	
}

@media screen and (max-width: 780px){
	body{
		padding: 0;
	}
	.on-scrolled{
		.menu-button{
			top: 6px;
		}
	}
	.col-2{
		width: 100%;
		&:nth-of-type(2){
			margin-top: 5%;
			img{
				float: none;
			}
		}
	}
	.col-3{
		width: 100%;
	}
	.custom-cols{
		.row{
		> div{
			padding-right: 0;
			}
		}	
	}
	.one-third{
		width: 100%;
	}
	.section-2{
		.one-third{
			padding-right: 0;
		}
	}
	.two-third{
		width: 100%;
	}
	.container{
		> .one-third{
			margin-bottom: 2%;
			& + .two-third{
				margin-bottom: 0;
			}
		}
		> .two-third{
			margin-bottom: 2%;
			& + .one-third{
				margin-bottom: 0;
			}
		}
	}
	#parallax_content{
		right: 0;
	}
	.front-page-intro{
		h1{
			float: none;
			padding-right: 0;
		}
	}
	h1{
		font-size: 70px;
	}
	#parallax_content{
		left: 2%;
	}
	.section-3{
		ul{
			li{
				width: 49%;
				&:nth-of-type(3n+3){
					margin-right: 2%;
				}
				&:nth-of-type(2n+2){
					margin-right: 0;
				}
				&:nth-of-type(n+3){
					margin-top: 2%;
				}
			}
		}
	}
	.section-4{
		.one-third{
			text-align: center;
		}
		.but-2{
			float: none;
		}
	}
	.responsive-menu{
		top: 60px;
	}
}//780
@media screen and (max-width: 600px){
	.menu-button{
		top: 27%;
	}
	
	.on-scrolled{
		.menu-button{
			top: 2px;
		}
	}
	.top-menu{
		li{
			width: 33%;
		}
	}
	.template-2{
		.intro{
			padding-top: 60%;
		}
	}
	.customize-support{
		.header-fixed{
			top: 48px;
		}
		&.on-scrolled{
			.header-fixed{
				top: 0;
			}
		}
	}
	h4{
		font-size: 22px;
	}
	.table-cell{
			padding-top: 10%;
			padding-bottom: 10%;
		}
	.section-3{
		ul{
			li{
				width: 100%;
				&:nth-of-type(3n+3){
					margin-right: 0;
				}
				&:nth-of-type(n+2){
					margin-top: 4%;
				}
			}
		}
	}
	.but-2{
		min-width: 100%;
	}	
}//600
@media screen and (max-width: 400px){
	.menu-button{
		top: 15%;
	}
	.top-menu{
		li{
			width: 50%;
		}
	}

	.footer-menu{
		ul{
			li{
				width: 100%;
				border-right: none;
			}
		}
	}
	.col-4{
		width: 100%;
		padding-right: 0;
		&:nth-of-type(n+2){
			margin-top: 20%;
		}
	}
	.padding-t-b{
		padding-top: 20%;
		padding-bottom: 20%;
	}
	footer{
		text-align: center;
		li{
			width: 100%;
			float: none;
			padding-right: 0;
			margin-right: 0;
			border-right: none;
			&:nth-of-type(n+2){
				margin-top: 5px;
			}
		}
	}
	.responsive-menu{
		top: 5px;
	}
	.on-scrolled{
		.responsive-menu{
			top: 0;
		}
	}
}//400
