@media screen and (max-width: 1300px){
	.front-page-intro{
		min-height: 650px;
	}
	.slider-parallax-container{
		margin-bottom: 650px;
	}
	.front-page-banner{
		min-height: inherit;
		margin-top: 61px!important;
	}
	.desktop-menu{
		display: none;
	}
	.desktop{
		display: none;
	}
	.responsive{
		display: block;
	}
	.responsive-menu{
		padding-top: 140px;
	}
	.on-scrolled{
		.responsive-menu{
			padding-top: 85px;
		}
		.inner-banner-fixed{
			top: 49px;
		}
		.inner-banner-container{
			margin-top: 49px;
		}
	}
	.intro, .testimonial, .pride, .inner-banner, .parallax{
		background-attachment: inherit;
		background-position: center!important;
	}
	.inner-banner-fixed{
		top: 92px;
	}
	.inner-banner-container{
		margin-top: 92px;
	}
	body.customize-support{
		.inner-banner-container{
			margin-top: 99px;
		}
		.inner-banner-fixed{
			top: 131px;
		}
	}
}//1300
@media screen and (max-width: 1160px){
	.inner-banner-fixed{
		top: 76px;
	}
	.inner-banner-container{
		margin-top: 76px;
	}
	.logo{
		width: 30%;
	}
	.col-4{
		width: 50%;
		&:nth-of-type(2n+2){
			padding-right: 0;
		}
		&:nth-of-type(2n+3){
			clear: left;
		}
	}
	.desktop-menu{
		li{
			padding: 0 12px 0 0;
		}
	}
	.on-scrolled{
		.desktop-menu{
			padding: 0;
		}
		.main-header{
			padding-bottom: 3px;
		}
	}
	.section-3{
		ul{
			li{
				width: 32%;
				&:nth-of-type(5n+5){
					margin-right: 2%;
				}
				&:nth-of-type(3n+3){
					margin-right: 0;
				}
				&:nth-of-type(n+4){
					margin-top: 2%;
				}
			}
		}
	}
	.col-4{
		width: 50%;
		margin-right: 0;
		padding-right: 5%;
		&:nth-of-type(2n+2){
			padding-right: 0;
		}
		&:nth-of-type(n+3){
			margin-top: 5%;
		}
	}
	.single-body{
		.two-third{
			width: 100%;
		}
		.one-third{
			width: 100%;
		}
	}
	.front-page-intro{
		min-height: 530px;
		.parallax-content{
			width: 70%;
		}
	}
	.slider-parallax-container{
		margin-bottom: 610px;
	}
}//1100
@media screen and (max-width: 950px){

	
	.logo{
		width: 55%;
	}
	.padding-l-r{
		padding-left: 5%;
		padding-right: 5%;
	}
	.padding-t-b{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.on-scrolled{
		.menu-button{
			top: 9px;
		}
		.banner{
			margin-top: 57px;
		}
	}
	.slider-parallax-container{
		margin-bottom: 515px;
	}
	.front-page-intro{
		min-height: 440px;
		.parallax-content{
			width: 70%;
		}
	}
	h1{
		font-size: 50px;
	}
}//950
@media screen and (max-width: 782px){
	body.customize-support{
		.header-fixed{
			top: 45px;
		}
	}	
}

@media screen and (max-width: 780px){
	.inner-banner-fixed{
		top: 74px;
	}
	.inner-banner-container{
		margin-top: 74px;
	}
	.inner-banner, .inner-banner-container{
		min-height: 392px;
		height: inherit;
	}
	.on-scrolled{
		.menu-button{
			top: 6px;
		}
		.banner{
			margin-top: 45px;
		}
	}
	.slider-parallax-container{
		margin-bottom: 395px;
	}
	.col-2, .custom-page .col-2{
		width: 100%;
		&:nth-of-type(2){
			margin-top: 5%;
			img{
				float: none;
			}
		}
	}
	.col-3, .custom-page .col-3{
		width: 100%;
		margin-right: 0;
	}
	.custom-cols{
		.row{
		> div{
			padding-right: 0;
			}
		}	
	}
	.one-third{
		width: 100%;
	}
	.section-2{
		.one-third{
			padding-right: 0;
		}
	}
	.two-third{
		width: 100%;
	}
	.section-4{
		.two-third{
			width: 100%;
		}
	}
	.custom-page{
		& .one-third{
			& + .two-third{
				padding-left: 0;
			}
		}
		& .two-third{
			& + .one-third{
				padding-left: 0;
			}
		}
	}
	.container{
		> .one-third{
			margin-bottom: 2%;
			& + .two-third{
				margin-bottom: 0;
			}
		}
		> .two-third{
			margin-bottom: 2%;
			& + .one-third{
				margin-bottom: 0;
			}
		}
	}
	.parallax-content{
		right: 0;
	}
	.front-page-intro{
		h1{
			float: none;
			padding-right: 0;
		}
	}
	h1{
		font-size: 70px;
	}
	.parallax-content{
		left: 2%;
	}
	.section-3{
		ul{
			li{
				width: 49%;
				&:nth-of-type(3n+3){
					margin-right: 2%;
				}
				&:nth-of-type(2n+2){
					margin-right: 0;
				}
				&:nth-of-type(n+3){
					margin-top: 2%;
				}
			}
		}
	}
	.section-4{
		.one-third{
			text-align: center;
		}
		.but-2{
			float: none;
		}
	}
	.service-list{
		ul{
			li{
				width: 49%;
				margin-bottom: 2%;
				&:nth-child(3n+1){
					float: left;
					clear: none;
				}
				&:nth-child(3n+3){
					margin-right: 2%;
				}
				&:nth-child(3n+4){
					float: left;
					clear: none;
				}
				&:nth-child(2n+1){
					clear: left;
				}
				&:nth-child(2n+2){
				margin-right: 0;
				}
				&:nth-child(2n+3){
				clear: left;
				}
			}
		}
	}
	.front-page-intro{
		min-height: 345px;
		.parallax-content{
			width: 80%;
			padding-top: 19%;
		}
		summary{
			font-size: 25px;
			width: 100%;
		}
	}
	h1{
		font-size: 40px;
	}
	.menu-button{
		top: 20px;
		width: 49px;
	}
	.responsive-menu{
		padding-top: 100px;
	}
}//780
@media screen and (max-width: 600px){
	.inner-banner-fixed{
		top: 50px;
	}
	.inner-banner-container{
		margin-top: 50px;
	}
	.inner-banner, .inner-banner-container{
		min-height: 250px;
		height: inherit;
	}
	.slider-parallax-container{
		margin-bottom: 255px;
	}
	.menu-button{
		top: 12px;
		width: 43px;
	}
	.on-scrolled{
		.menu-button{
			top: 0px;
		}
	}
	.top-menu{
		li{
			width: 33%;
		}
	}
	.template-2{
		.intro{
			padding-top: 60%;
		}
	}
	.customize-support{
		.header-fixed{
			top: 48px;
		}
		&.on-scrolled{
			.header-fixed{
				top: 0;
			}
		}
	}
	h4{
		font-size: 22px;
	}
	.table-cell{
			padding-top: 10%;
			padding-bottom: 10%;
		}
	.section-3{
		ul{
			li{
				width: 100%;
				&:nth-of-type(3n+3){
					margin-right: 0;
				}
				&:nth-of-type(n+2){
					margin-top: 4%;
				}
			}
		}
	}
	.but-2{
		min-width: 100%;
	}	
	h3.toggle-button{
		padding: 2.7% 2% 2.1% 4%;
		&:after{
			top: 8%;
		}
	}
	.front-page-intro{
		min-height: 225px;
		.parallax-content{
			width: 85%;
			left: 10%;
		}
		summary{
			font-size: 18px;
		}
	}

	h1{
		font-size: 25px;
	}
	.swiper-button-white{
		-webkit-background-size: 18px;
		     -o-background-size: 18px;
		        background-size: 18px;
	}
	.front-page-banner{
		margin-top: 27px!important;
	}
}//600
@media screen and (max-width: 400px){
	.banner{
		margin-top: 35px;
	}
	.slider-parallax-container{
		margin-bottom: 180px;
	}
	.menu-button{
		top: 2px;
		width: 39px;
	}
	.top-menu{
		li{
			width: 50%;
		}
	}

	.footer-menu{
		ul{
			li{
				width: 100%;
				border-right: none;
			}
		}
	}
	.col-4{
		width: 100%;
		padding-right: 0;
		&:nth-of-type(n+2){
			margin-top: 20%;
		}
	}
	.padding-t-b{
		padding-top: 12%;
		padding-bottom: 12%;
	}
	footer{
		text-align: center;
		li{
			width: 100%;
			float: none;
			padding-right: 0;
			margin-right: 0;
			border-right: none;
			&:nth-of-type(n+2){
				margin-top: 5px;
			}
		}
	}
	h3.toggle-button{
		&:after{
			top: 2%;
		}
	}
	.service-list{
		ul{
			li{
				width: 100%;
				margin-right: 0;
				&:nth-of-type(3n+3){
					margin-right: 0;
				}
			}
		}
	}
	.front-page-intro{
		min-height: 160px;
		.parallax-content{
			left: 0;
			padding-left: 8%;
		}
		summary{
			font-size: 14px;
		}
	}

	h1{
		font-size: 18px;
		margin-bottom: 2%;
	}
	.sub-footer{
		text-align: center;
		.col-4{
			img{
				float: none;
			}
		}
	}
	.custom-page{
		h1{
			font-size: 35px;
		}
	}
	.front-page-intro{
		summary{
			font-size: 11px;
		}
	}
	.front-page-banner{
		margin-top: 17px!important;
	}
	.on-scrolled{
		.inner-banner-fixed{
			top: 30px;
		}
		.inner-banner-container{
			margin-top:30px;
		}
	}
	.inner-banner-fixed{
		top: 42px;
	}
	.inner-banner-container{
		margin-top: 42px;
	}
}//400
