// Defaul Style sheet
@import 'editor';

// Colors
$blue: #005fab;
$blue-2: #00569a;
$light-blue: #e9ebf8;

$dark-blue: #20276d;
$dark-blue-2: #003865;
$dark-blue-3: #d3d9fb;
$dark-blue-4: #002746;

$light-red: #ececec;

$grey: #737373;
$grey-2: #e6e6e6;
$dark-grey: #888;
$body-font: #464646;

$creame: #f4f4f4;

.white{
	color: white;
}

// Fonts
$open: 'Open Sans', sans-serif;
$pop: 'Poppins', sans-serif;
$garamond: 'Cormorant Garamond', serif;

.header-fixed{
	position: fixed;
	@include transition(.3s);
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
}

body{
	@include transition(0.8s);
  font-family: $open;
  background: white;
  color: $body-font;
  font-size: 14px;
  margin: 0;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
  padding: 173px 0 0;
}
.hide-body{
	&.toggle-hide-body{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: 8;
	}
}
.container{
	max-width: 1410px;
	width: 100%;
	margin: auto;
	display: block;
	padding: 0 3%;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
a{
	color: $blue;
}
h1,h2,h3,h4,h5{
	display: block;
	margin-top: 0;
	margin-bottom: 15px;
	color: $blue;
}
h1{
	font-size: 50px;
	font-family: $pop;
	text-transform: uppercase;
}
h2{
	font-size: 24px;
	font-family: $pop;
	color: $blue;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h3{
	font-size: 24px;
	text-transform: uppercase;
	font-family: $pop;
	font-weight: 800;
}
h4{
	font-size: 24px;
	font-family: $pop;
	font-weight: 600;
}
h5{
	font-size: 16px;
	text-transform: uppercase;
	font-family: $pop;
}
h6{
	font-size: 15px;
	display: block;
	font-weight: 100;
	color: black;
	margin-top: 0;
	margin-bottom: 15px;
}
p{
	margin-top: 0;
	margin-bottom: 20px;
}
blockquote{
	margin: 0 0 5%;
	font-family: $garamond;
	font-style: italic;
	color: $blue;
	font-size: 33px;
	line-height: 1;
}
.but-common{
	@include transition(.3s);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	line-height: 1;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
.but{
	@extend .but-common;
	padding: 7px;
	text-transform: uppercase;
	min-width: 147px;
}
.but-2{
	@extend .but-common;
	padding: 14px;
	text-transform: uppercase;
	font-weight: 800;
	min-width: 220px;
}
.but-3{
	@extend .but-common;
	padding: 14px;
	text-transform: uppercase;
	font-weight: 800;
}
.but-4{
	@extend .but-common;
	padding: 14px;
}
.blue{
	background-color: $blue;
	color: white;
	&:hover{
		background-color: darken($blue, 10%);
	}
}
.white-but{
	background-color: white;
	color: $grey;
	&:hover{
		background-color: darken(white, 20%);
	}
}
.transparent{
	color: white;
	border: 1px solid white;
	&:hover{
		background-color: white;
		color: $grey;
	}
}
.transparent-blue{
	color: $blue;
	border: 1px solid $blue;
	&:hover{
		background-color: $blue;
		color: white;
	}
}
.top-menu{
	background-color: $creame;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		width: auto;
	}
	li{
		float: left;
		width: auto;
		padding: 11px 0;
		margin: 0;
		display: inline-flex;
		&:first-child{
			a{
				border-left: none;
				padding-left: 0;
				margin-left: 0;
			}
		}
		&:hover{
			a{
				color: darken($grey, 40%);
			}
		}
	}
	a{
		display: inline-block;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		@include transition(.3s);
		font-size: 12px;
		padding-left: 6px;
		margin-left: 6px;
		color: $grey;
		line-height: 1;
		border-left: 1px solid $grey;
		font-family: $pop;
	}
}
.main-header{
	@include transition(0.8s);
	background-color: white;
	padding-top: 2.6%;
	padding-bottom: 2.6%;
	padding-right: 0;
	padding-left: 0;
}
.logo{
	float: left;
	width: 30%;
	img{
		@include transition(0.8s);
		width: 100%;
	}
}
.desktop-menu{
	@include transition(0.8s);
	float: right;
	width: 70%;
	padding: 1.8% 0 1% 1%;
	> nav{
		> div{
			> ul{
				> .menu-item-has-children{
					> .sub-menu{
						padding-top: 20px;
						&:before{
							content: "\f0de";
							font-family: FontAwesome;
							position: absolute;
							left: 15px;
							top: 5px;
						}
					}
				}
				> li{
					&:last-child{
						padding-right: 0;
					}
					&.current-menu-item, &.current-menu-ancestor{
						> a{
							border-color: white;
						}
					}
				}
			}
		}
	}
	ul{
		@include transition(0.8s);
		list-style: none;
		margin: 0;
		padding: 0;
		width: auto;
		float: right;
	}
	li{
		@include transition(0.8s);
		margin: 0;
		padding: 0;
		float: left;
		width: auto;
		padding: 0 12px;
	}
	a{
		display: block;
		@include transition(.2s);
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		font-size: 13px;
		color: $grey;
		font-family: $pop;
		cursor: pointer;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		&:hover{
			color: darken($grey, 40%);
			border-bottom: 2px solid darken($grey, 40%);
		}
	}
}//end of desktop-menu
.menu-button{
	position: absolute;
	right: 20px;
	top: 37%;
	color: $grey;
	cursor: pointer;
	font-family: $pop;
	font-size: 20px;
	width: 85px;
	font-weight: 600;
	text-align: right;
	z-index: 99;
	@include transition(.3s);
	&:after, &:before{
		position: absolute;
	    content: "";
	    display: block;
	    width: 20px;
	    left: 0;
	    @include transition(.6s);
	}
	&:after{
		top: 8px;
		height: 3.765px;
		border-top: 2px solid $grey;
		border-bottom: 2px solid $grey;
	}
	&:before{
		top: 20px;
		height: 2px;
		background-color: $grey;
	}
	&.show{
		color: $grey;
		&:before{
			top: 15px;
			background: $grey;
			width: 19px;
			@include transform(-45);
		}
		&:after{
			top: 15px;
		    border: 0;
		    height: 2px;
		    width: 19px;
		    background: $grey;
		  	@include transform(45);  
		}
	}
}
.responsive-menu{
	display: none;
	background-color: $dark-blue-2;
	z-index: 10;
	position: fixed;
	top: 80px;
	padding-top: 75px;
	padding-bottom: 30px;
	> nav{
		> div{
			>ul{
				padding: 10%;
				margin: 0;
				ul{
					padding-top: 10px;
				}
			}
		}
	}
	ul{
		list-style: none;
		padding: 0;
	}
	li{
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px dotted $dark-blue-3;
	}
	a{
		color: $dark-blue-3;
		@include transition(.3s);
		text-decoration: none;
		font-size: 14px;
		font-family: $pop;
		&:hover{
			color: white;
		}
	}
	.menu-item-has-children{
		position: relative;
	}
	&.show{
		right: 0;
	}
	.current-menu-item, .current-menu-ancestor{
		> a{
			color: white;
		}
	}
}//end of responsive-menu
.search{
	margin-top: 15px;
	input{
		width: 100%;
		padding: 15px 10px 15px 35px;
		font-size: 14px;
		font-family: $pop;
		border: none;
		color: $dark-blue-3;
		-webkit-border-radius: 2px;
		        border-radius: 2px;
		background-color: $dark-blue-4;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset;
		        box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset;
		border-bottom: 1px solid $dark-blue;
	}
	position: relative;
	@include placeholder($dark-blue-3);
	&:before{
		content: "\f002";
		font-family: FontAwesome;
		color: $dark-blue-3;
		font-size: 15px;
		display: block;
		position: absolute;
		left: 9px;
		top: 17px;
	}

}
.has-details{
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	width: 40%;
	z-index: 0;
	height: 25px;
	color: $dark-blue-3;
	text-align: right;
	.fa{
		font-size: 22px;
		@include transition(.5s);
	}
	&.show{
		.fa{
			@include transform(180);
		}
	}
}
// home page
.padding-under-fixed-menu{
	padding-top: 164px;
}

.common-banner{
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    // background-position: 25% 0%;
	    position: relative;
	    background-repeat: no-repeat;
}
.front-page-intro{
	min-height: 745px;
	position: relative;
	// background-position: 50% 25%;
	@extend .common-banner;
	    h1, summary{
	    	float: left;
	    	clear: both;
	    	
	    	line-height: 1;
	    }
	    h1{
	    	text-shadow: 1px 1px #444;
	    }
	    summary{
	    	font-size: 22px;
	    	line-height: 1.5;
	    	font-family: $pop;
			width: 75%;	
			font-weight: 400;
	    }
	.parallax-content{
		width: 51%;	
		left: 3%;
		padding-top: 28%;
	}
	&:before{
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 0;
		-webkit-box-shadow: inset 223px 0px 336px -2px rgba(32,39,109,0.5);
-moz-box-shadow: inset 223px 0px 336px -2px rgba(32,39,109,0.5);
box-shadow: inset 223px 0px 336px -2px rgba(32,39,109,0.5);
	}
}
.padding-t-b{
	padding-top: 4%;
	padding-bottom: 4%;
}
.section-2{
	@extend .padding-t-b;
	.one-third{
		padding-right: 2%;
	}
}
.section-3{
	text-align: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    background-repeat: no-repeat;
	    // background-position: 50% 50%;
	    min-height: 370px;
	    position: relative;
	    &:before{
	    	position: absolute;
	    	content: "";
	    	background-color: rgba(0,0,0,.4);
	    	top: 0;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	width: 100%;
	    	height: 100%;
	    	z-index: 0;
	    }
	ul{
		list-style: none;
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
		li{
			float: left;
			width: 18.4%;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0;
			padding: 0;
			margin-right: 2%;
			&:nth-of-type(n+6){
				margin-top: 2%;
			}
			&:nth-of-type(5n+5){
				margin-right: 0;
			}
		}
	}
	a{
		width: 100%;
	}
	.table-cell{
		position: relative;
		z-index: 1;
	}
}

.section-4{
	background-color: $dark-blue;
	min-height: 135px;
	h4{
		margin: 0;
	}
	.but-2{
		float: right;
	}
}
.verticalAlign{
	margin-top: 1.8%;
}

.sub-footer{
	background-color: $blue;
	@extend .padding-t-b;
	*{
		color: white;
	}
	ul{
		list-style: none;
		padding: 0;
	}
	a{
		text-decoration: none;
	}
	.col-4{
		h5{
			&:nth-of-type(2){
				margin-top: 55px;
			}
		}
		img{
			margin-top: 30px;
			float: left;
			width: auto;
		}
	}
}
.sub-footer-menu{
	text-transform: uppercase;
	margin: 0;
	li{
		margin-bottom: 8px;
		a{
			border-bottom: 2px solid transparent;
			@include transition(.3s);
			&:hover{
				border-bottom: 2px solid white;
			}
		}
	}
}
.address{
	float: left;
	width: 100%;
	margin: 0;
	&:hover{
		text-decoration: underline;
	}
}
.contacts{
	margin-top: 15px;
	float: left;
	width: 100%;
	a{
		&:hover{
			text-decoration: underline;
		}
	}
	li{
		float: left;
		width: 50%;
	}
}
footer{
	background-color: $blue-2;
	padding-top: 20px;
	padding-bottom: 20px;
	*{
		color: white;
		text-transform: uppercase;
		font-size: 10px;
		text-decoration: none;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li{
		float: left;
		width: auto;
		padding-right: 5px;
		margin-right: 5px;
		line-height: 1;
		border-right: 1px solid white;
		&:last-child{
			border-right: none;
		}
	}
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}

















.footer-menu{
	ul{
		list-style: none;
		padding: 15px 0;
		margin: 0;
		li{
			float: left;
			width: auto;
			text-align: center;
			padding: 0 15px;
			margin: 0;
			display: inline-block;
			border-right: 2px solid #7089a0;
			&, a{
				font-size: 10px;
				border-bottom: 2px solid transparent;
			}
			&:last-child{
				border-right:none;
			}
		}
		a{
			text-decoration: none;
			&:hover{
				border-bottom: 2px solid white;
			}
		}	
	}
}

.on-scrolled{
	.main-header{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.logo{
		img{
			width: 50%;
		}
	}
	.desktop-menu{
		padding: 7px 0 0;
	}
	.menu-button{
		top: 13px;
	}
	padding: 115px 0 0;
	.responsive-menu{
		padding-top: 60px;
	}
}//end of on-scrolled
body.customize-support{
	.header-fixed{
		top: 32px;
	}
}

.custom-cols{
	.col-2, .col-3, .col-4{
		padding-right: 5%;
		margin-bottom: 5%;
		&:last-child{
			padding-right: 0;
		}
	}
	&.full-width{
		padding-bottom: 5%;
	}
	.row{
		> div{
			margin-bottom: 5%;
			padding-right: 5%;
			&:last-child{
				padding-right: 0;
			}
		}
	}
}

// Embeded videos style
.embed-container { 
	@include transition(0s);
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	 iframe, object, embed { 
	 	position: absolute; 
	 	top: 0; 
	 	left: 0; 
	 	width: 100%; 
	 	height: 100%; 
 	}
}
.parallax{
	overflow: hidden;
	@include transition(0.2s);
	.container{
		position: relative;
	}
}	 	
.parallax-content{
	@include transition(0.2s);
	position: relative;
	opacity: 1;
	z-index: 0;
	display: inline-block;
}
	



// Category page
.category-banner{
	min-height: 465px;
	@extend .common-banner;
}
.category-title{
	background-color: $creame;
	text-align: center;
	min-height: 130px;
	h1{
		font-size: 40px;
		margin-bottom: 0;
	}
	.desc{
		color: $blue;
		text-transform: uppercase;
		font-family: $pop;
		font-size: 23px;
		letter-spacing: 1px;
		word-spacing: 1px;
	}
}
.service-list{
	@extend .padding-t-b;
	text-align: center;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			float: left;
			width: 32%;
			margin-right: 2%;
			margin-bottom: .5%;
			display: table;
			&:nth-of-type(3n+3){
				margin-right: 0;
			}
			a{
				width: 100%;
				line-height: inherit;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
// Single Page
.single-banner{
	min-height: 485px;
	@extend .common-banner;
}
.single-page-intro{
	margin-bottom: 15px;
}
.single-content{
	@extend .padding-t-b;
	h1{
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 5%;
	}
}
.single-body{
	border: 1px solid $creame;
	.two-third, .one-third{
		padding: 3%;
	}
	.one-third{
		background-color: $light-blue;
		color: $blue;
	}
	h2{
		font-size: 21px;
	}
	.embed-container{
		margin-bottom: 7%;
	}
	h3{
		background-color: $grey-2;
		font-size: 20px;
		font-weight: 100;
		line-height: 1;
		padding: 1.7% 2% 1.1% 4%;
	}
}
.toggle-button{
	cursor: pointer;
	position: relative;
	&:after{
		content: "\f107";
		position: absolute;
		right: 2%;
		font-family: FontAwesome;
		font-size: 29px;
		font-weight: bold;
		top: 14%;
		@include transition(.5s);
	}
	&.show{
		&:after{
			@include transform(180);
		}
	}
}
h6.toggle-button{
	&:after{
		top: -4px;
		color: $blue;
	}
}
.toggle-content-2{
	display: none;
}
.toggle-content{
	display: none;
	padding: 2%;
}
.search-input{
	background-color: $dark-blue-2;
	@include placeholder($dark-blue-3);
	padding: 4% 0 1%;
	color: $dark-blue-3;
	input{
		border: none;
		background-color: $dark-blue-4;
		font-family: $pop;
		@include placeholder(white);
		width: 100%;
	    padding: 15px;
	    font-size: 18px;
	    color: $dark-blue-3;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;
	    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset;
	    border-bottom: 1px solid $dark-blue;
	    letter-spacing: 1px;
	    word-spacing: 1px;
	    margin: 0;
	}
	summary{
		text-align: center;
		font-family: $garamond;
		font-size: 16px;
		padding: 1% 0 0;
	}
}





//This file link includes resonsive style and it MUST always stays at the bottom of this file. If you need to type code, please type above to this link. Don't type below of responsive file link.
@import 'responsive';